.formulario{
    max-width:$max;
    width:$max - 12%;
    text-align: center;
    margin: auto;
    margin-top:$medida-xl;
    background:$color-terciario;
    border-radius: 5px 80px 5px 80px;
    background:url(../multimedia/Imagenes/image-fondo.webp);
    h2{
        justify-content: center;
        font-size:1.5rem;
        padding:$medida-ep;
        color:$color-terciario;
        display:inline-block;
        background:rgba(179, 176, 176, 0.769);
        border-radius:$medida-ep;
        margin-top: 2rem;
    }
    label{
        color: $color-white;
        font-size: 1rem;
        margin: 1rem;
    }
    input ,textarea{
        background:$color-white;
        color:$color-terciario;
        width:50%;
        border-radius: 8px;
    }
    .formulario__correo ,.formulario__nombre ,.formulario__mensaje{
        font-size:1.2rem;
        margin-top:$medida-md;
        padding: auto;
    }
    #Enviar{
        color:$color-white;
        background:$btn-secundario;
        font-size:$font-size-sm;
        @include wid-hei(90px ,$medida-sm);
        @include mar-pad($medida-md ,auto);

        &:hover{
            cursor: pointer;
            color:$color-white;
            font-weight: 700;
        }
    }

    @media (min-width:$tablet){
        border-radius: 5px 150px 5px 150px;
    
    input,textarea{
        width: 40%;
    }
}
    @media (min-width:$desktop){
        width:900px;
        font-size: $font-size-md;
        border-radius: 5px 200px 5px 200px;
        
        .formulario__correo ,.formulario__nombre ,.formulario__mensaje{
        font-size: 1.3rem;
        margin-top: 100px;
        }
        h2{
            font-size:2.2rem;
        }
        label{
            font-size: 1.5rem;
        }
    }
}

.contactanos{
    img{
    display: block;
    margin: auto;
    width:$max;
    border-radius: 15px;
    max-width: 100%;
    max-height: 500px;
    }

    h1{
    padding-top:$medida-xl;
    font-size:2.3rem;
    @include dispay-justify-center;
    margin-bottom: 0;
    color: $color-primario;
    }

    h2{
        text-align: center;
        background:$color-encabezado;
        font-size: $font-size-sm + .4rem;
        padding:$medida-ep;
    }
    h3{
        text-align: center;
        background:$color-terciario;
        padding: 5px;
        font-size:$font-size-sm;
    }
    @media (min-width:$tablet){
        h1{
            font-size: $font-size-md;
        }
        h2{
            font-size:2rem;
        }
        h3{
            font-size:$font-size-sm + $font-size-ep;
        }
    }

    @media (min-width:$desktop) {
        h1{
            font-size:$font-size-xl;
        }
        img{
            width: 90%;
        }
    }
}