.formulario{
    max-width:$max;
    width:$max - 12%;
    text-align: center;
    margin: auto;
    margin-top:$medida-xl;
    background:$color-terciario;
    border-radius: 5px $medida-lg;
    background:url(../multimedia/Imagenes/image-fondo.webp);
    h2{
        justify-content: center;
        font-size:1.9rem;
        padding:$medida-sm;
        color:$color-primario;
        display:inline-block;
        border-radius:5px 70px 1px 70px;
        margin-top: 2rem;
        background: rgba(113, 111, 111, 0.402);
    }
    label{
        color: $color-white;
        font-size: $font-size-sm;
        margin: $font-size-sm;
    }
    input ,textarea{
        background:$color-white;
        color:$color-terciario;
        width:50%;
        border-radius:$medida-ep;
    }
    .formulario__correo ,.formulario__nombre ,.formulario__mensaje{
        font-size:1.2rem;
        margin-top:$medida-epl;
        padding: auto;
    }
    #Enviar{
        background:$color-primario;
        color:$color-white;
        font-size:$font-size-sm + .3rem;
        @include wid-hei(90px ,$medida-sm);
        @include mar-pad($medida-sm ,auto);
        border-color:$color-white;

        &:hover{
            cursor: pointer;
            color:$color-grey;
            font-weight: 700;
            background:$btn-hover;
            transition: .5s;
        }
    }

    @media (min-width:$tablet){
        border-radius: 5px 150px;
    
    input,textarea{
        width: 40%;
    }
}
@media (min-width:$tabletXG) {
    h2{
        font-size:$font-size-md;
    }
}
    @media (min-width:$desktop){
        width:900px;
        font-size: $font-size-md;
        border-radius: 5px 200px;
        
        .formulario__correo ,.formulario__nombre ,.formulario__mensaje{
            font-size: 1.3rem;
        }
        h2{
            font-size:$font-size-sm + $font-size-md;
        }
        label{
            font-size:$font-size-sm + $font-size-ep;
        }
    }
}

.contactanos{
    img{
    display: block;
    margin: auto;
    width:$max;
    border-radius: 15px;
    max-width:$max;
    max-height: 500px;
    }

    h1{
    padding-top:$medida-xl;
    font-size:$font-size-md;
    @include dispay-justify-center;
    margin-bottom: 0;
    color: $color-primario;
    }

    h2{
        text-align: center;
        background:rgba(5, 5, 5, 0.173);
        font-size: $font-size-sm + .4rem;
        padding:$medida-ep;
    }
    h3{
        text-align: center;
        background:rgba(5, 5, 5, 0.173);
        padding: 5px;
        font-size:$font-size-sm;
    }
    @media (min-width:$tablet){
        h1{
            font-size: $font-size-md;
        }
        h2{
            font-size:2rem;
        }
        h3{
            font-size:$font-size-sm + $font-size-ep;
        }
    }

    @media (min-width:$desktop) {
        h1{
            font-size:$font-size-xl;
        }
    }

    @media (min-width:$desktopXG) {
    
        img{
            width: 85%;
        }
    }
}
