.title__galeria {
    @include flex-column;

    @media (min-width:$tablet){
        font-size:$font-size-lg;
    }
    
    h1{
        font-size:$font-size-md;
        padding-top:$medida-xl;
        text-align: center;
        margin-bottom: $min;

        @media (min-width:$desktop){
            font-size:$font-size-xl;
        }
    }

    h2{
        background:rgba(5, 5, 5, 0.173);
        margin:$medida-sm;
        padding:$medida-ep;
        text-align: center;
        color:$color-enlaces;

        @media (min-width:$tablet){
            font-size: $font-size-sml;
        }

        @media (min-width:$desktop){
            font-size:$font-size-md;
        }
    }

    p{
        padding: auto;
        background:$color-encabezado;
        font-size:$font-size-sm;
        color:$color-enlaces;
        @include mar-pad(15px ,15px);
        text-align: center;
        margin-top: 80px;

        @media (min-width:$tablet){
            @include mar-pad($medida-epl ,$medida-epl);
        }

        @media (min-width:$desktop){
            @include mar-pad($medida-sm ,$medida-epl);
            font-size:$font-size-sml;
        }
    }

    img{
        display: block;
        margin: $min auto;
        max-width:$max;
        max-height: 500px;
        border-radius:$medida-ep + $medida-xxp;
    }
}

.galeria{
    gap:$medida-ep * 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width:$tablet){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding:$medida-epl + $medida-xxp;
    }

    @media (min-width:$desktop) {
        grid-template-columns: repeat(3,1fr);
        gap: $medida-epl;
    }

    img{
        margin: 0px auto;
        border-radius:$medida-ep;
        object-fit: cover;
        @include wid-hei($max ,$max);

        @media (min-width:$desktop){
            &:hover{
                box-shadow:$min $min $medida-sm;
                cursor: pointer;
                transition: 0.6s;
                opacity: 70%;
            }
        }
    }
}

.galeria__videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:$medida-ep * 2;

    iframe{
        @include dispay-justify-center;
        flex-direction:column;
        max-width:$max;
        flex-wrap: wrap;
        background: none;
        height:auto;
        width:$medida-md * 5;


        @media (min-width:$tablet){
            @include wid-hei(450px ,400px);
        }

        @media (min-width:$desktop){
            @include wid-hei(1000px ,700px);
        }
    }
}